<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
</head>
<body style="overflow: hidden;">
    <a href="{{url_for('index')}}"><button>Home</button></a>
    <a href = "{{url_for('game')}}"><button>Replay</button></a>
    <canvas></canvas>

    <!-- <input type="text" id="demo"> -->
    <script type="text/javascript" src="/static/js/game.js"></script>
</body>
</html>